*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: rgb(37, 31, 31) ;
}
.App{

    margin: 60px;
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
/* flex-direction: ; */

}
.left{

    height: 700px;
    width: 200px;
    /* padding: 20px; */
    background-color:#8A2BE2;
    /* margin-right: 2px; */
    box-sizing: border-box;
    /* align-items: center; */
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */

    flex:0.5
    /* flex-basis: 0.3rem; */
}
.left h3{
    color:white;
}
.top h3{
    color:#8A2BE2;
}
.right{
    /* padding: 20px; */
    /* border: 1px solid black; */
    /* margin-left: 2px; */
    /* display: flex; */
}
.right h3{
    display: inline-block;
    padding: 4px;
    margin-right: 2px;
    
}

.input{

    box-sizing: border-box;
    padding: 10px;
    /* margin: 45px; */
    width: 500px;
    border-radius: 10px;
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.09);
}

.input:focus{
   outline: none;

}

.course{
    height: 110px;
    width: 126px;
    /* background-color: gray; */
}
.course:hover{
cursor: pointer; 

}
.image{


    margin-top: 20px;
    /* padding:5px;
    margin:10px; */
    padding: 4px;
    margin-right: 14px;
}
.image img{
 border-radius: 10px;
    width: 100px;
    height:100px;
    flex:0.2;
}

.name{
/* background-color: gray; */
/* width:100px; */
height:25px;
padding: 10px;
}
.bottom{
    margin-top: 20px;
    width: 630px;
    height:500px;
   /* border: 1px solid black; */
   display: flex;
   /* flex-direction: column; */
   justify-content: space-evenly;
   /* align-content: space-between; */
   flex-wrap: wrap;
}


.checkbox-container{
    display:flex;
}









@media (max-width : 999px) {


    *{

        margin-left: 10px;
    }
    .App{
      flex-direction: column;
    }
    .left{
        width: 669px;
        flex-direction: row;
    }

    .course{
        margin-bottom: 55px;
        width:148px;
      
    }
    .bottom{

justify-content: center;
        height: 150px;
    }
  }